.dashboard-topbar .product-logo {
    height: 40px;
    margin-right: 20px;
}

.dashboard-topbar {
    background: #e6e6e650;
}

* {
    color: #0771a0;
}

.data-card {
    cursor: pointer;
    border: 0px solid black;
    box-shadow: 0px 0px 15px #00000030;
    margin-bottom: 10px;
}

.warning-card {
    opacity: 0.5;
    cursor: pointer;
}

.warning-card-active {
    cursor: pointer;
    background: #f00;
    color: #ffffff;
    font-weight: bold;
    animation: pulse 1s infinite;
}

.warning-card-active h4 {
    font-weight: 500 !important;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.95);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.state {
    background-color: #008cff20;
}

.temp {
    background-color: #f9b73d20;
}

.battery {
    background-color: #ff00d420;
}

.state:hover {
    background-color: #008cff40;
}

.temp:hover {
    background-color: #f9b73d40;
}

.battery:hover {
    background-color: #ff00d440;
}

.active .warning-card {
    opacity: 1.0;
    cursor: pointer;
    background-color: #f00;
}